.hidden {
  display: none;
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 80%;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.greeting,
.clock {
  font-size: 100px;
  text-align: center;
  color: white;
  margin: 0;
}

.todo-form input,
.login-form input[type='text'] {
  border: none;
  outline: none;
  background: none;
  padding: 30px 0px 10px 0px;
  font-size: 36px;
  color: white;
  text-align: center;
}

.todo-form input {
  width: 500px;
  border-bottom: 3px solid white;
}

.todo-form input::placeholder,
.login-form input::placeholder {
  color: white;
}

.todo-list {
  list-style-type: none;
}
.todo-list li {
  font-size: 32px;
  color: white;
}

.todo-list > li > button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: none;
  border: 3px solid red;
  font-size: 20px;
  color: red;
  border-radius: 50%;
  text-align: center;
  padding: 10px;
  margin-left: 20px;
}

.logout-btn,
.login-form input[type='submit'] {
  padding: 10px 20px;
  color: white;
  background: none;
  border: 2px solid white;
  font-size: 20px;
  border-radius: 10px;
}

.weather {
  font-size: 26px;
  color: white;
}
